h1 {
    color: #1E90FF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 10px 0;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
